
.mail-compose-container{
    background-color: var(--main-bg-color);;
    position: sticky;
    position: absolute;
    bottom: 0;
    right: 2vw;
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 500px;
     
}

.mail-compose-header{
    padding: var(--padding-inline);
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.mail-compose-main{
    height: 500px;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr;
}

.mail-compose-footer{
    background-color: var(--second-bg-color);
    padding: var(--padding-inline);
}