 /* mail list */

 .mails-list {
    display: flex;
    flex-flow: column;
    background-color: var(--second-bg-color);
 }

 .mails-list li {
     margin: 10px;
     /* background-color: rgb(106, 160, 34); */

     display: grid;
     grid-template-columns: auto 1fr;    
 }

 .mail-preview{
    display: grid;
     grid-template-columns: auto 1fr auto;
 }

 .mails-list li.read{
    background-color: var(--second-bg-color--1);
 }

 .mail-subject{
   justify-self: center;
 }