:root {
    --main-bg-color: rgba(216, 230, 235, 0.347);
    --second-bg-color: rgb(255, 255, 255);
    --second-bg-color--1: rgb(235, 235, 235);


    --margin-inline: 10px;
    --padding-inline: 5px;
}