:root {
    --main-bg-color: rgb(234, 243, 246);
    --second-bg-color: rgb(255, 255, 255);
    --second-bg-color--1: rgb(235, 235, 235);


    --margin-inline: 10px;
    --padding-inline: 5px;

    --logo-size:30px;
    --logo-size--1:20px;
    --text-size:16px;
    --text-size--1:10px;

    
}