.add-note-container{
    background-color: rgb(127, 212, 212);
    width: 50%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    
}

.form-add-note{
    display: flex;
    flex-direction: column;
    
    /* background-color: darkgreen; */
}

.add-note-action-container{
    display: flex;
    flex-direction: column;
    
}

.btn-add-note{
    margin-top: 5px;
    width: fit-content;
    align-self: center;
}

.btn-add-note:hover{
background-color: beige;
}