.add-note-container{
    background-color: rgb(127, 212, 212);
    width: 50%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    
}

.form-add-note{
    display: flex;
    flex-direction: column;
    
    /* background-color: darkgreen; */
}

.add-note-action-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.add-note-action-container .btn{
    margin-top: 5px;
    width: fit-content;
    align-self: center;
}

.btn-add-note:hover{
background-color: beige;
}

.items-container {
    
    /* padding: 20px; */
    display: flex;
    gap: 3px;
}

.item {
    
    padding: 5px;
    min-height: 10px;
    min-width: 10px;
    cursor: pointer;
    border: 1px solid black;

    display: grid;
    place-items: center;
}




.add-note-container-test{
    display: flex;

    justify-content: center;
}

.form-add-note-test input{
    border: none;
    border-radius: 10px;
}

.add-note-action-container-test{
    display: flex;
    gap: 5px;


}

.btn-icon:hover {
    color: rgb(245, 204, 93);
    scale: 1.005;
}