 /* mail index  */

 .mail-index {
     padding-inline: var(--padding-inline);
 }

 .main-container-mail-header {
     grid-row: 1;
     grid-column: 2;
     display: grid;
     grid-template-columns: 0.5fr 1fr;
     /* background-color: rgb(168, 173, 255); */
 }

 .mail-logo {
     align-self: end;
     justify-self: start;
     color: red;
 }

 .mail-search {
     justify-self: start;
 }

 .main-container-side-nav {
     /* background-color: yellowgreen; */
     grid-row: 1 / -1;
     grid-column: 1;
     display: grid;
     grid-template-rows: auto 1fr;
 }

 .btn-open-side-nav {
     grid-column: 1;
     grid-row: 1;
     justify-self: center;
     align-self: center;
 }

 .main-side-nav{
    grid-column: 1;
    grid-row:2;
    justify-self: center;
    align-self: start;
    
    
    display: flex;
    flex-flow: column;
    align-items: center;
 }