

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-header-nav a {
    margin: 10px;
}

.app-header-nav a:active {
    color: purple;
}

.app-header-nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}